In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [6]:
names = ['id',	'name',	'host_id',	'host_name',	'neighbourhood_group',	'neighbourhood',	'latitude',	
         'longitude',	'room_type',	'price',	'minimum_nights',	'number_of_reviews',	'last_review',	
         'reviews_per_month',	'calculated_host_listings_count',	'availability_365']
df = pd.read_csv('https://raw.githubusercontent.com/lmxy0212/ML_project/master/new-york-city-airbnb-open-data/AB_NYC_2019.csv',
                names=names,na_values='?',header=None)
df = df.dropna()
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,2,6,7,9,10,11,13,14,15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

     id  ...  availability_365
0    id  ...  availability_365
1  2539  ...               365
2  2595  ...               355
4  3831  ...               194
5  5022  ...                 0

[5 rows x 16 columns]

In [11]:
airbnb_name = df['name']
reviews_per_month = df['reviews_per_month']
n = np.shape(airbnb_name)[0]
print(n)
print(airbnb_name)
print(reviews_per_month)

38822
0                                                    name
1                      Clean & quiet apt home by the park
2                                   Skylit Midtown Castle
4                         Cozy Entire Floor of Brownstone
5        Entire Apt: Spacious Studio/Loft by central park
                               ...
48783          Lovely Privet Bedroom with Privet Restroom
48791                            No.2 with queen size bed
48800                                     Seas The Moment
48806                       1B-1B apartment near by Metro
48853             Cozy Private Room in Bushwick, Brooklyn
Name: name, Length: 38822, dtype: object
0        reviews_per_month
1                     0.21
2                     0.38
4                     4.64
5                     0.10
               ...
48783                    1
48791                    1
48800                    1
48806                    2
48853                    1
Name: reviews_per_month, Length: 38822, dtype: object